<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>BookApp</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        <h1>Book data</h1>
        <p>
            <span>Logged in as <b sec:authentication="name"></b></span>
            <a href="/">Global info</a>
            <a href="/user">My pages</a>
            <a href="/logout">Log out</a>
        </p>

        <div>
            <h3 th:text="${book.title} + ' by ' + ${book.author}"></h3>
            <p>
                <h4>AI generated summary</h4>
                <p th:text="${book.aiGeneratedDesc}" id="jsGptTarget" style="width: 75%; overflow:auto; overflow-wrap: break-word;"></p>
                <div>
                    <button th:if="${book.getDescRefreshCount &lt;= 3}" id="jsGptRefreshButton" onclick="refreshDescription()">Regenerate</button>
                    <b th:if="${book.descRefreshCount &gt; 3}">No refreshes available! Please stop wasting the API key's balance!</b>
                </div>
                <a th:href="@{/books/{bookId}/remove(bookId=${book.id})}"><button>Remove book</button></a>
            </p>
        </div>
        <!-- THIS IS LIKELY VERY WRONG AND BAD -->
        <!-- DON'T DO THIS IN MORE CODE PLEASE -->
        <span sec:authentication="principal.attributes['id']" hidden id="jsUserId"></span>
        <span th:text="${book.id}" hidden id="jsBookId"></span>
    </body>

    <script>
        // MEME
        // THIS IS BAD CODE
        // LIKE REALLY BAD

        const gptTarget = document.getElementById("jsGptTarget");
        const gptRefresh = document.getElementById("jsGptRefreshButton");
        const activeBookId = document.getElementById("jsBookId");

        const makeHtmlParagraphs = (textBlob) => {
            const blob2 = "";
            const splitBlob = textBlob.split("\n\n").join("<br><br>");
            console.log(textBlob, textBlob.split("\n\n"));
            return splitBlob;
        };

        const refreshDescription = async () => {
            // ohnononononon
            gptRefresh.hidden = true;

            gptTarget.innerText = 'Please wait for the summary to load...';

            // very secure!
            const textResponse = await fetch(`/api/openai/summarize/${activeBookId.innerText}`);

            const textResult = await textResponse.blob().then(blob => blob.text());

            if(textResult !== "") {
                gptTarget.innerHTML = makeHtmlParagraphs(textResult);
            }
            
            gptRefresh.hidden = false;
        };

        if(gptTarget.innerText === "") {
            // Probably our first time, initial refreshDescription call
            refreshDescription();
        } else {
            gptTarget.innerHTML = makeHtmlParagraphs(gptTarget.innerHTML);
        }
    </script>
</html>