<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>BookApp</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        <div>
            <h1>My pages</h1>
            <span>Logged in as <span sec:authentication="name"/></span>
            <span><a href="/">Back</a></span>
        </div>

        <div>
            <h3>My books</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Read</th>
                    <th></th>
                </tr>

                <tr th:each="book : ${booksThisIdHas}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td><a th:href="@{/books/{bookId}/toggleRead(bookId=${book.id})}">
                        <span th:if="${book.isRead}">Read</span>
                        <span th:unless="${book.isRead}">Unread</span>
                    </a></td>
                </tr>
            </table>
        </div>
    </body>
</html>